*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: white;
    user-select: none;
    overflow-x: hidden;
}
#home{
    background-color: #222325;
    /* color: #FF8225; */
    height: 100svh;
    width: 100svw;
    position: relative;
    overflow-y: scroll;
}
#home::-webkit-scrollbar {
    display: none;
    /* Hides the Vertical Scroll Bar */
}

header{
    height: 15svh;
    width: 100svw;
    /* border: 1px solid white; */
    display: flex;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 9;
    transition: all 0.5s ease;
}
.logo{
    height: 100%;
    width: 20svw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    gap: 30px;
    font-size: 18px;
    line-height: 1.5rem;
    overflow: hidden;
}
.logo p{
    transition: all 0.5s ease;
    overflow-y: hidden;
}
.logo p span{
    font-size: 18px;
}
.logo > img{
    height: 102px;
    width: 102px;
}
.logo > img:hover{
    animation: rotateLogo 0.6s ease-in-out 1;
    filter: drop-shadow(0px 0px 5px black);
}
.logo > p:hover{
    transition: all 0.5s ease;
    transform: scale(1.06);
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
    span{
        color: #FF8225;
    }
}
.mainhead{
    height: 100%;
    width: 65svw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s ease;
}
.mainhead > p > a{
    text-decoration: none;
}
.mainhead > p:hover{
    cursor: pointer;
    color: #FF8225;
    transition: all 0.3s ease;
    transform: scale(1.1);
    a{
        color: #FF8225;
    }
}
.mainLeft{
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0%;
    height: 120svh;
    width: 0px;
    z-index: 10;
    overflow: hidden;
}
.mainLeft > .mainhead > i:nth-child(1):hover{
    color: #FF8225;
}
.mainLeft > .mainhead{
    justify-content: start;
    gap: 40px;
    width: 320px;
}
.nbbutton{
    width: 120px;
    height: 50px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    position: relative;
}
.but {
    border-style: none;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    transition: .5s linear;
    background-color: #FF8225;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
    text-align: center;
    align-content: center;
}

.but::placeholder, .but {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.but p{
    opacity: 0;
    transition: all 0.5s ease;
    font-family: "Playwrite AT", cursive;
    transition: .5s linear;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    font-weight: 800;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .5s linear;
    right: 13%;
}
.icon:hover ~ .but , .but:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    width: 120px;
    border-radius: 30px;
    background-color: #FF8225;
    border-bottom: 3px solid #FF8225;
    transition: all 0.5s ease;
    p{
        opacity: 1;
        transition: all 0.5s ease;
    }
}




.icons{
    height: 100%;
    width: 15svw;
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease;
}
.icons > i:hover{
    color: #FF8225;
    transition: all 0.2s ease;
}
.icons i:nth-child(3){
    display: none;
}
.icons i:nth-child(1):hover, .icons i:nth-child(2):hover{
    transform: scale(1.15);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: vibrate .2s linear 2;
}
.cbody{
    margin-top: 70px;
    height: 80svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
}
.cbleft{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    span{
        color: #FF8225;
    }
}
.cbright{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cir{
    height: 370px;
    width: 370px;
    border-radius: 50%;
    background-color: #FF8225;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.cir > img{
    z-index: 5;
    height: 370px;
    width: 370px;
    cursor: pointer;
}
.cbright > img:nth-child(2){
    height: 110px;
    width: 150px;
    position: absolute;
    animation: burger 0.8s ease, movement 3s linear infinite;
    top: 10%;
    left: 5%;
}
.cbright > img:nth-child(3){
    height: 110px;
    width: 150px;
    position: absolute;
    animation: pizza 0.8s ease, movement 3s linear infinite;
    top: 72%;
    left: 72%;
}
.cbright > img:nth-child(4){
    height: 110px;
    width: 150px;
    position: absolute;
    animation: biriyani 0.8s ease, movement 3s linear infinite;
    top: 10%;
    left: 72%;
}
.cbright > img:nth-child(5){
    height: 120px;
    width: 120px;
    position: absolute;
    animation: icecream 0.8s ease, movement 3s linear infinite;
    top: 70%;
    left: 5%;
}
.last{
    height: 20svh;
    width: 100svw;
    text-align: center;
    align-content: center;
    font-size: 50px;
}














/* Animations */

@keyframes rotateLogo{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes vibrate{
    0%{    
        rotate: -10deg;
    }
    50%{

        rotate: 10deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes burger{
    from{
        transform: rotate(-10deg);
        top: 40%;
        left: 40%;
    }
    to{
        top: 10%;
        left: 5%;
    }
}

@keyframes pizza{
    from{
        transform: rotate(-10deg);
        top: 40%;
        left: 40%;
    }
    to{
        top: 72%;
        left: 72%;
    }
}

@keyframes biriyani{
    from{
        transform: rotate(-10deg);
        top: 40%;
        left: 40%;
    }
    to{
        top: 10%;
        left: 72%;
    }
}

@keyframes icecream{
    from{
        transform: rotate(-10deg);
        top: 40%;
        left: 40%;
    }
    to{
        top: 70%;
        left: 5%;
    }
}

@keyframes movement{
    0%{    
        rotate: 0deg;
    }
    25%{
        rotate: -5deg;
    }
    50%{
        rotate: 0deg;
    }
    75%{
        rotate: 5deg;
    }
    100%{
        rotate: 0deg;
    }
}

/* Media Queries */

@media only screen and (max-width: 1400px){
    .cir{
        height: 270px;
        width: 270px;
        img{
            height: 270px;
            width: 270px;
        }
    }
}

@media only screen and (max-width: 1100px){
    #biriyani{
        height: 105px;
        width: 125px;
    }
}

@media only screen and (max-width: 1000px){
    .home{
        height: 180svh;
    }
    .cbody{
        height: 150svh;
        gap: 0px;
    }
    .cbleft, .cbright{
        width: 100svw;
    }
    .cbleft{
        height: 70svh;
    }
    .cbright{
        height: 80svh;
    }
}

@media only screen and (max-width: 1024px){
    .logo{
        gap: 20px;
        font-size: 15px;
    }
    .logo p span{
        font-size: 20px;
    }
    .logo > img{
        height: 80px;
        width: 80px;
    }
    .mainhead{
        font-size: 16px;
    }
    .mainhead > p:hover{
        transform: scale(1.07);
    }
    .nbbutton{
        width: 100px;
        height: 40px;
    }
    .input-wrapper {
        height: 40px;
        width: 100px;
    }
    .but {
        height: 40px;
        width:40px;
    }
    .but::placeholder, .but {
        font-size: 14px;
    }
    .icon {
        font-size: 20px;
    }
    .icons{
        font-size: 18px;
    }
}

@media only screen and (max-width:750px){
    header{
        justify-content: space-between;
    }
    header > .mainhead{
        display: none;
    }
    .logo{
        gap: 50px;
        width: 40svw;
    }
    .icons{
        width: 35svw;
        font-size: 22px;
    }
    .icons i:nth-child(3){
        display: block;
    }
    .mainLeft > .mainhead{
        transition: all 0.5s ease;
        background-color: rgba(0, 0, 0, 0.3);
        flex-direction: column;
        align-items: center;
    }
    .mainhead .but{
        width: 120px;
        p{
            opacity: 1;
        }
    }
}
@media only screen and (max-width:530px){
    header{
        justify-content: center;
    }
    .logo{
        width: 50svw;
        gap: 50px;
    }
    .logo > img{
        height: 60px;
        width: 60px;
    }
    .logo > p{
        font-size: 13px;
        line-height: 1rem;
    }
    .logo > p > span{
        font-size: 15px;
    }
    .icons{
        width: 50svw;
    }
    #home{
        height: 170svh;
    }
    .cbody{
        height: 135svh;
        gap: 0px;
    }
    .cbleft{
        height: 50svh;
        font-size: 62px;
    }
    .cbright{
        height: 70svh;
    }
    .cir{
        height: 240px;
        width: 240px;
        img{
            height: 240px;
            width: 240px;
        }
    }
    .cbright > img:nth-child(2){
        height: 90px;
        width: 110px;
    }
    .cbright > img:nth-child(3){
        height: 90px;
        width: 110px;
    }
    #biriyani{
        height: 80px;
        width: 100px;
    }
    .cbright > img:nth-child(5){
        height: 90px;
        width: 90px;
    }
}

@media only screen and (max-width:375px){
    #home{
        height: 180svh;
    }
    .cbody{
        height: 145svh;
    }
    .cbleft{
        font-size: 55px;
        height: 60svh;
    }
    .cbright{
        height: 80svh;
    }
    .cir{
        height: 230px;
        width: 230px;
        img{
            height: 230px;
            width: 230px;
        }
    }
    .cbright > img:nth-child(2){
        height: 70px;
        width: 98px;
    }
    .cbright > img:nth-child(3){
        height: 70px;
        width: 98px;
    }
    #biriyani{
        height: 70px;
        width: 80px;
    }
    .cbright > img:nth-child(5){
        height: 70px;
        width: 90px;
    }
}